	:root { color-scheme: dark; background-color:#000000;color: #FFFFFF; }

	a.buttonG { padding: 0.6vh 0.6vw; border: 0.1vh outset buttonborder; border-radius: 1vh;
		color: #00FF00; background-color: #242424; text-decoration: none; margin:5px; margin-top:55px; margin-bottom:55px;
		}
		
	a.buttonY { padding: 1.6vh 1.6vw; border: 0.1vh outset buttonborder; border-radius: 1vh;
		color: #FFFF00; background-color: #2e2e2e; text-decoration: none; margin:5px;
		}
		
	a.buttonGY { padding: 0.6vh 0.6vw; border: 0.1vh outset buttonborder; border-radius: 1vh;
		color: #AAFF00; background-color: #2e2e2e; text-decoration: none; margin:5px;
		}
					
	a.buttonR { padding: 0.6vh 0.6vw; border: 0.1vh outset buttonborder; border-radius: 1vh;
		color: #FF0000; background-color: #2e2e2e; text-decoration: none; margin:5px;
		}
		
	a.buttonW { padding: 0.6vh 0.6vw; border: 0.1vh outset buttonborder; border-radius: 1vh;
		color: #FFFFFF; background-color: #2e2e2e; text-decoration: none; margin:5px;
		}

	/* Base styles */
	body { font-size: 35px; background-color:#000000; color: #FFFFFF; }
	/* Larger screens */
	@media (min-width: 1200px) { body { font-size: 45px; background-color:#000000; color: #FFFFFF; } } 
	/* Smaller tablets and mobiles */
	@media (max-width: 900px) { body { font-size: 30px; background-color:#000000; color: #FFFFFF; } }
	input.url {font-size: 30px;}
